auth:
  existingSecret: keycloak
ingress:
  enabled: true
  ingressClassName: "nginx"
  pathType: Prefix
  controller: default
  hostname: keycloak.kyungsu.com
  servicePort: http
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /
    nginx.ingress.kubernetes.io/ssl-redirect: "true"
    cert-manager.io/issuer: keycloak-letsencrypt-staging
  tls: true
  selfSigned: false
adminIngress:
  enabled: true
  ingressClassName: "nginx"
  pathType: Prefix
  controller: default
  hostname: keycloak-admin.kyungsu.com
  servicePort: http
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /
    nginx.ingress.kubernetes.io/ssl-redirect: "true"
    cert-manager.io/issuer: keycloak-letsencrypt-staging
  tls: true
  selfSigned: false
keycloakConfigCli:
  enabled: true
  configuration:
    master.json: |
      {
        "realm" : "master",
        "attributes": {
          "frontendUrl": "https://keycloak-admin.kyungsu.com"
        }
      }
proxy: "edge"
postgresql:
  enabled: true
  auth:
    existingSecret: keycloak-postgresql
